<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:supportsRtl="true">
        <activity
            android:name="com.chen.memorizewords.feature.feedback.FeedbackActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="feedback"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>
    </application>
</manifest>
