<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application>
        <activity android:name="com.chen.memorizewords.feature.user.ui.AuthActivity" />
        <activity android:name="com.yalantis.ucrop.UCropActivity" />
        <activity
            android:name="com.alicom.fusion.auth.numberauth.FusionNumberAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alicom.fusion.auth.upsms.AlicomFusionUpSmsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alicom.fusion.auth.smsauth.FusionSmsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alicom.fusion.auth.graphauth.FusionGraphAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.mobile.auth.gatewayauth.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />
        <activity
            android:name="com.mobile.auth.gatewayauth.PrivacyDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />
    </application>
</manifest>
